.footer {
    background: #000;
    color: white;
    padding: 50px 80px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.footer-section a {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover {
    color: rgb(229, 22, 22);
}

/* Icons */
.app-icons img,
.social-icons img,
.payment-icons img {
    width: 40px;
    margin-right: 15px;
    
}
.app-icons,
.social-icons{
    justify-content: center;
    display: flex;
    align-items: center;
}
.app-icons img:hover,
.social-icons img:hover,
.payment-icons img:hover {
    opacity: 0.7;
}

/* Payment section */
.payment {
    margin-top: 50px;
}

.payment h3 {
    margin-bottom: 20px;
}
