 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.h1{
  padding-left: 20px;
  background-color: grey;
  align-items: left;
  font-size: 25px
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(95, 33, 220);
    color: rgb(241, 9, 9);
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: fixed;

}
nav{
    display: flex; 
}
nav li{
    list-style: none;
    position: relative;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav li a{
   padding:10px 15px;
   text-decoration: none;
   color: white;
   font-size: 25px;
   font-weight: bold;
   
   display: blox;
}

nav li a:hover{
    background-color: whitesmoke;
    color: red  ;
    border-radius: 20px;
}
.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    padding: 10px 18px;
    z-index: 4;


}
.dropdown li a{
    font-size: 15px;
}
nav li:hover .dropdown{
    background-color: rgb(71, 68, 68);
    display: block;
} 
 